<a href="https://colab.research.google.com/github/NavyaKiran/NYCTaxiFarePrediciton/blob/main/NYC_Taxi_Fare_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
! pip install pyspark -q

In [48]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("NYC Taxi Trip Analysis") \
    .getOrCreate()

<H1>*DATA EXTRACTION*</H1>

In [49]:
import google.auth
from google.colab import auth

auth.authenticate_user()

In [50]:
# !pip install google-cloud-bigquery
from google.cloud import bigquery
client = bigquery.Client(project = 'navya-weather-data')

query_weather = """
SELECT wban, year, mo, da,
temp, count_temp, dewp, count_dewp, slp, count_slp, stp, count_stp,
visib, count_visib, wdsp, count_wdsp, mxpsd, gust, max, min, prcp, sndp, fog, rain_drizzle, snow_ice_pellets, hail, thunder,
tornado_funnel_cloud
FROM `bigquery-public-data.noaa_gsod.gsod2023` weather
where year = '2023' and mo in ('01', '02')
"""

query_stations = """ select usaf, wban, state, country, call
from `bigquery-public-data.noaa_gsod.stations` stations
where stations.country = 'US' and stations.state = 'NY' and stations.call = 'KNYC'
"""

query_weather_job = client.query(query_weather)
query_stations_job = client.query(query_stations)

In [51]:
weather_data = query_weather_job.to_dataframe(max_results = None)
stations_data = query_stations_job.to_dataframe(max_results = None)

In [52]:
weather_data.shape

(659543, 28)

In [53]:
stations_data.shape

(4, 5)

In [54]:
weather_data.head()

,wban,year,mo,da,temp,count_temp,dewp,count_dewp,slp,count_slp,...,max,min,prcp,sndp,fog,rain_drizzle,snow_ice_pellets,hail,thunder,tornado_funnel_cloud
0,99999,2023,01,21,23.5,4,19.1,4,1005.4,4,...,27.5,20.1,0.00,3.5,0,0,0,0,0,0
1,99999,2023,01,26,11.3,4,2.1,4,1002.9,4,...,13.5,10.2,0.00,999.9,0,0,0,0,0,0
2,99999,2023,01,07,28.1,4,23.8,4,1020.8,4,...,30.2,26.6,99.99,999.9,0,0,1,0,0,0
3,99999,2023,02,14,33.1,4,26.6,4,1016.7,4,...,39.7,23.9,99.99,999.9,0,0,1,0,0,0
4,99999,2023,02,23,31.4,4,28.8,4,988.4,4,...,31.6,29.7,0.00,999.9,0,0,0,0,0,0

In [55]:
stations_data.head()

     usaf   wban state country  call
0  725033  94728    NY      US  KNYC
1  725060  94728    NY      US  KNYC
2  999999  94728    NY      US  KNYC
3  725053  94728    NY      US  KNYC

In [56]:
weather_nyc = weather_data.merge(stations_data, on = 'wban', how = 'inner')
weather_nyc = weather_nyc[weather_nyc['usaf'] == '725060']

In [57]:
weather_nyc.head()

,wban,year,mo,da,temp,count_temp,dewp,count_dewp,slp,count_slp,...,fog,rain_drizzle,snow_ice_pellets,hail,thunder,tornado_funnel_cloud,usaf,state,country,call
1,94728,2023,01,21,40.0,24,25.8,24,1017.3,24,...,0,0,0,0,0,0,725060,NY,US,KNYC
5,94728,2023,01,15,33.9,24,18.4,24,1014.7,24,...,0,0,0,0,0,0,725060,NY,US,KNYC
9,94728,2023,02,07,35.9,24,21.5,24,1025.2,24,...,0,0,0,0,0,0,725060,NY,US,KNYC
13,94728,2023,01,03,51.6,24,47.7,24,1017.3,17,...,1,1,0,0,0,0,725060,NY,US,KNYC
17,94728,2023,01,16,35.5,24,10.3,24,1013.1,24,...,0,0,0,0,0,0,725060,NY,US,KNYC

In [58]:
weather_nyc.shape

(59, 32)

In [59]:
weather_nyc.dtypes

wban                     object
year                     object
mo                       object
da                       object
temp                    float64
count_temp                Int64
dewp                    float64
count_dewp                Int64
slp                     float64
count_slp                 Int64
stp                     float64
count_stp                 Int64
visib                   float64
count_visib               Int64
wdsp                     object
count_wdsp               object
mxpsd                    object
gust                    float64
max                     float64
min                     float64
prcp                    float64
sndp                    float64
fog                      object
rain_drizzle             object
snow_ice_pellets         object
hail                     object
thunder                  object
tornado_funnel_cloud     object
usaf                     object
state                    object
country                  object
call                     object
dtype: object

In [60]:
weather_nyc.shape

(59, 32)

In [61]:
january_data = spark.read.parquet('/content/yellow_tripdata_2023-01.parquet')
february_data = spark.read.parquet('/content/yellow_tripdata_2023-02.parquet')
zone_data = spark.read.option("header", "true").csv('/content/taxi_zones.csv')

In [62]:
january_data.printSchema()
february_data.printSchema()
zone_data.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

root
 |-- OBJECTID: string (nullable = true)
 |-- Shape_Leng: string (nullable = true)
 |-- the_geom: string (nullable = true)
 |-- Shape_Area: string (nullable = true)
 |-- zone: string (nullable = true)
 |-- LocationID: string (nullable = true)
 |-- borough: string (nullable = true)

In [63]:
january_data.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01 00:50:34|  2023-01-01 01:02:52|            1.0|         1.84|       1.0|                 N|         161|         137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
|       2| 2023-01-01 00:09:22|  2023-01-01 00:19:49|            1.0|         1.66|       1.0|                 N|         239|         143|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 00:27:12|  2023-01-01 00:49:56|            1.0|         11.7|       1.0|                 N|         142|         200|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|
|       2| 2023-01-01 00:21:44|  2023-01-01 00:36:40|            1.0|         2.95|       1.0|                 N|         164|         236|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|
|       2| 2023-01-01 00:39:42|  2023-01-01 00:50:36|            1.0|         3.01|       1.0|                 N|         141|         107|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

In [64]:
february_data.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2023-02-01 00:32:53|  2023-02-01 00:34:34|              2|          0.3|         1|                 N|         142|         163|           2|        4.4|  3.5|    0.5|       0.0|         0.0|                  1.0|         9.4|                 2.5|        0.0|
|       2| 2023-02-01 00:35:16|  2023-02-01 00:35:30|              1|          0.0|         1|                 N|          71|          71|           4|       -3.0| -1.0|   -0.5|       0.0|         0.0|                 -1.0|        -5.5|                 0.0|        0.0|
|       2| 2023-02-01 00:35:16|  2023-02-01 00:35:30|              1|          0.0|         1|                 N|          71|          71|           4|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         5.5|                 0.0|        0.0|
|       1| 2023-02-01 00:29:33|  2023-02-01 01:01:38|              0|         18.8|         1|                 N|         132|          26|           1|       70.9| 2.25|    0.5|       0.0|         0.0|                  1.0|       74.65|                 0.0|       1.25|
|       2| 2023-02-01 00:12:28|  2023-02-01 00:25:46|              1|         3.22|         1|                 N|         161|         145|           1|       17.0|  1.0|    0.5|       3.3|         0.0|                  1.0|        25.3|                 2.5|        0.0|
|       1| 2023-02-01 00:52:40|  2023-02-01 01:07:18|              1|          5.1|         1|                 N|         148|         236|           1|       21.9|  3.5|    0.5|      5.35|         0.0|                  1.0|       32.25|                 2.5|        0.0|
|       1| 2023-02-01 00:12:39|  2023-02-01 00:40:36|              1|          8.9|         1|                 N|         137|         244|           1|       41.5|  3.5|    0.5|       3.5|         0.0|                  1.0|        50.0|                 2.5|        0.0|
|       1| 2023-02-01 00:56:53|  2023-02-01 01:00:37|              1|          1.2|         1|                 N|         263|         141|           1|        7.2|  3.5|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       2| 2023-02-01 00:20:40|  2023-02-01 00:33:56|              1|         7.49|         1|                 N|          48|         243|           1|       30.3|  1.0|    0.5|      8.82|         0.0|                  1.0|       44.12|                 2.5|        0.0|
|       2| 2023-02-01 00:33:51|  2023-02-01 00:37:34|              1|         0.51|         1|                 N|         114|         211|           1|        5.8|  1.0|    0.5|      1.62|         0.0|                  1.0|       12.42|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

In [65]:
zone_data.show(10)

+--------+---------------+--------------------+-----------------+--------------------+----------+-------------+
|OBJECTID|     Shape_Leng|            the_geom|       Shape_Area|                zone|LocationID|      borough|
+--------+---------------+--------------------+-----------------+--------------------+----------+-------------+
|       1| 0.116357453189|MULTIPOLYGON (((-...|  0.0007823067885|      Newark Airport|         1|          EWR|
|       2|  0.43346966679|MULTIPOLYGON (((-...| 0.00486634037837|         Jamaica Bay|         2|       Queens|
|       3|0.0843411059012|MULTIPOLYGON (((-...|0.000314414156821|Allerton/Pelham G...|         3|        Bronx|
|       4|0.0435665270921|MULTIPOLYGON (((-...|0.000111871946192|       Alphabet City|         4|    Manhattan|
|       5|0.0921464898574|MULTIPOLYGON (((-...|0.000497957489363|       Arden Heights|         5|Staten Island|
|       6| 0.150490542523|MULTIPOLYGON (((-...|0.000606460984581|Arrochar/Fort Wad...|         6|Staten Island|
|       7| 0.107417171123|MULTIPOLYGON (((-...|0.000389787989274|             Astoria|         7|       Queens|
|       8|0.0275906911574|MULTIPOLYGON (((-...|0.000026587716279|        Astoria Park|         8|       Queens|
|       9|0.0997840924705|MULTIPOLYGON (((-...|0.000338443803197|          Auburndale|         9|       Queens|
|      24|0.0469999619287|MULTIPOLYGON (((-...|0.000060723573775|        Bloomingdale|        24|    Manhattan|
+--------+---------------+--------------------+-----------------+--------------------+----------+-------------+
only showing top 10 rows

In [66]:
february_data = february_data.withColumnRenamed("Airport_fee", "airport_fee")

In [67]:
february_data.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [68]:
yellow_trip_data = january_data.union(february_data)
yellow_trip_data.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [69]:
print("The number of rows in the dataframe are",yellow_trip_data.count())
print("The number of columns in the dataframe are",len(yellow_trip_data.columns))
print("The number of rows in the zone dataframe are", zone_data.count())
print("The number of columns in the zone dataframe are", len(zone_data.columns))

The number of rows in the dataframe are 5980721
The number of columns in the dataframe are 19
The number of rows in the zone dataframe are 263
The number of columns in the zone dataframe are 7

In [70]:
yellow_trip_data.registerTempTable("yellow_trip_data")
zone_data.registerTempTable("zone_data")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [71]:
#Now, we combine (join) yellow_trip_data and zone_data

join_query = """select yellow_trip_data.VendorID, TO_DATE(yellow_trip_data.tpep_pickup_datetime) as pickup_date, TO_DATE(yellow_trip_data.tpep_dropoff_datetime) as dropoff_date,
yellow_trip_data.passenger_count, yellow_trip_data.trip_distance, yellow_trip_data.RatecodeID, yellow_trip_data.store_and_fwd_flag,
yellow_trip_data.PULocationID, z1.zone as pickup_zone, z1.borough as pickup_borough, DOLocationID, z2.zone as dropoff_zone,
z2.borough as dropoff_borough,
payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount,
congestion_surcharge, airport_fee
from yellow_trip_data inner join zone_data z1 on yellow_trip_data.PULocationID = z1.LocationID
inner join zone_data z2 on yellow_trip_data.DOLocationID = z2.LocationID
"""

trip_data = spark.sql(join_query)
trip_data.registerTempTable("trip_data")

In [72]:
trip_data.count()

5871100

In [73]:
trip_data.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- pickup_date: date (nullable = true)
 |-- dropoff_date: date (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- dropoff_zone: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [74]:
trip_data.show()

+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|pickup_date|dropoff_date|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|         pickup_zone|pickup_borough|DOLocationID|        dropoff_zone|dropoff_borough|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-01-01|  2023-01-01|            1.0|         0.97|       1.0|                 N|         161|      Midtown Center|     Manhattan|         141|     Lenox Hill West|      Manhattan|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|          1.1|       1.0|                 N|          43|        Central Park|     Manhattan|         237|Upper East Side S...|      Manhattan|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.51|       1.0|                 N|          48|        Clinton East|     Manhattan|         238|Upper West Side N...|      Manhattan|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|       1| 2023-01-01|  2023-01-01|            0.0|          1.9|       1.0|                 N|         138|   LaGuardia Airport|        Queens|           7|             Astoria|         Queens|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.43|       1.0|                 N|         107|            Gramercy|     Manhattan|          79|        East Village|      Manhattan|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.84|       1.0|                 N|         161|      Midtown Center|     Manhattan|         137|            Kips Bay|      Manhattan|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.66|       1.0|                 N|         239|Upper West Side S...|     Manhattan|         143| Lincoln Square West|      Manhattan|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         11.7|       1.0|                 N|         142| Lincoln Square East|     Manhattan|         200|Riverdale/North R...|          Bronx|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.95|       1.0|                 N|         164|       Midtown South|     Manhattan|         236|Upper East Side N...|      Manhattan|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         3.01|       1.0|                 N|         141|     Lenox Hill West|     Manhattan|         107|            Gramercy|      Manhattan|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|          1.8|       1.0|                 N|         234|            Union Sq|     Manhattan|          68|        East Chelsea|      Manhattan|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         3.23|       1.0|                 N|         164|       Midtown South|     Manhattan|         143| Lincoln Square West|      Manhattan|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            2.0|        11.43|       1.0|                 N|         138|   LaGuardia Airport|        Queens|          33|    Brooklyn Heights|       Brooklyn|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.95|       1.0|                 N|          33|    Brooklyn Heights|      Brooklyn|          61| Crown Heights North|       Brooklyn|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.52|       1.0|                 N|          79|        East Village|     Manhattan|         186|Penn Station/Madi...|      Manhattan|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.23|       1.0|                 N|          90|            Flatiron|     Manhattan|          48|        Clinton East|      Manhattan|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|
|       1| 2023-01-01|  2023-01-01|            1.0|          4.5|       1.0|                 N|         113|Greenwich Village...|     Manhattan|         255|Williamsburg (Nor...|       Brooklyn|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|
|       1| 2023-01-01|  2023-01-01|            3.0|          1.2|       1.0|                 N|         237|Upper East Side S...|     Manhattan|         239|Upper West Side S...|      Manhattan|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       1| 2023-01-01|  2023-01-01|            2.0|          2.5|       1.0|                 N|         143| Lincoln Square West|     Manhattan|         229|Sutton Place/Turt...|      Manhattan|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
|       1| 2023-01-01|  2023-01-01|            1.0|          1.4|       1.0|                 N|         137|            Kips Bay|     Manhattan|          79|        East Village|      Manhattan|           1|        9.3|  3.5|    0.5|      2.85|         0.0|                  1.0|       17.15|                 2.5|        0.0|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [75]:
weather_nyc = spark.createDataFrame(weather_nyc)
weather_nyc.registerTempTable("weather_nyc")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [76]:
from pyspark.sql.functions import concat, to_date, lit
weather_nyc=weather_nyc.withColumn("date", to_date(concat(weather_nyc.mo, lit("/"), weather_nyc.da, lit("/"), weather_nyc.year), "MM/dd/yyyy"))
weather_nyc.registerTempTable("weather_nyc")

In [77]:
weather_nyc.printSchema()

root
 |-- wban: string (nullable = true)
 |-- year: string (nullable = true)
 |-- mo: string (nullable = true)
 |-- da: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- count_temp: long (nullable = true)
 |-- dewp: double (nullable = true)
 |-- count_dewp: long (nullable = true)
 |-- slp: double (nullable = true)
 |-- count_slp: long (nullable = true)
 |-- stp: double (nullable = true)
 |-- count_stp: long (nullable = true)
 |-- visib: double (nullable = true)
 |-- count_visib: long (nullable = true)
 |-- wdsp: string (nullable = true)
 |-- count_wdsp: string (nullable = true)
 |-- mxpsd: string (nullable = true)
 |-- gust: double (nullable = true)
 |-- max: double (nullable = true)
 |-- min: double (nullable = true)
 |-- prcp: double (nullable = true)
 |-- sndp: double (nullable = true)
 |-- fog: string (nullable = true)
 |-- rain_drizzle: string (nullable = true)
 |-- snow_ice_pellets: string (nullable = true)
 |-- hail: string (nullable = true)
 |-- thunder: string (nullable = true)
 |-- tornado_funnel_cloud: string (nullable = true)
 |-- usaf: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- call: string (nullable = true)
 |-- date: date (nullable = true)

In [78]:
weather_nyc.count()

59

In [79]:
join_query_weather = """
SELECT t.VendorID, t.pickup_date, t.dropoff_date, t.passenger_count, t.trip_distance, t.RatecodeID, t.store_and_fwd_flag,
t.PULocationID, t.pickup_zone, t.pickup_borough, t.DOLocationID, t.dropoff_zone,
t.dropoff_borough, t.payment_type, t.fare_amount, t.extra, t.mta_tax, t.tip_amount, t.tolls_amount, t.improvement_surcharge, t.total_amount,
t.congestion_surcharge, t.airport_fee, w.temp, w.dewp, w.slp, w.stp, w.visib, w.wdsp, w.mxpsd, w.gust, w.max, w.min, w.prcp, w.sndp, w.fog, w.rain_drizzle, w.snow_ice_pellets, w.hail, w.thunder, w.tornado_funnel_cloud
FROM trip_data t
LEFT JOIN weather_nyc w ON t.pickup_date = w.date
"""

data = spark.sql(join_query_weather)
data.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- pickup_date: date (nullable = true)
 |-- dropoff_date: date (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- dropoff_zone: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- temp: double (nullable = true)
 |-- dewp: double (nullable = true)
 |-- slp: double (nullable = true)
 |-- stp: double (nullable = true)
 |-- visib: double (nullable = true)
 |-- wdsp: string (nullable = true)
 |-- mxpsd: string (nullable = true)
 |-- gust: double (nullable = true)
 |-- max: double (nullable = true)
 |-- min: double (nullable = true)
 |-- prcp: double (nullable = true)
 |-- sndp: double (nullable = true)
 |-- fog: string (nullable = true)
 |-- rain_drizzle: string (nullable = true)
 |-- snow_ice_pellets: string (nullable = true)
 |-- hail: string (nullable = true)
 |-- thunder: string (nullable = true)
 |-- tornado_funnel_cloud: string (nullable = true)

In [80]:
data.show(10)

+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+------+---+-----+----+-----+----+----+----+----+-----+---+------------+----------------+----+-------+--------------------+
|VendorID|pickup_date|dropoff_date|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|         pickup_zone|pickup_borough|DOLocationID|        dropoff_zone|dropoff_borough|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|temp|dewp|   slp|stp|visib|wdsp|mxpsd|gust| max| min|prcp| sndp|fog|rain_drizzle|snow_ice_pellets|hail|thunder|tornado_funnel_cloud|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+------+---+-----+----+-----+----+----+----+----+-----+---+------------+----------------+----+-------+--------------------+
|       2| 2023-01-01|  2023-01-01|            1.0|         0.97|       1.0|                 N|         161|      Midtown Center|     Manhattan|         141|     Lenox Hill West|      Manhattan|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|          1.1|       1.0|                 N|          43|        Central Park|     Manhattan|         237|Upper East Side S...|      Manhattan|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.51|       1.0|                 N|          48|        Clinton East|     Manhattan|         238|Upper West Side N...|      Manhattan|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       1| 2023-01-01|  2023-01-01|            0.0|          1.9|       1.0|                 N|         138|   LaGuardia Airport|        Queens|           7|             Astoria|         Queens|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.43|       1.0|                 N|         107|            Gramercy|     Manhattan|          79|        East Village|      Manhattan|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.84|       1.0|                 N|         161|      Midtown Center|     Manhattan|         137|            Kips Bay|      Manhattan|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.66|       1.0|                 N|         239|Upper West Side S...|     Manhattan|         143| Lincoln Square West|      Manhattan|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         11.7|       1.0|                 N|         142| Lincoln Square East|     Manhattan|         200|Riverdale/North R...|          Bronx|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.95|       1.0|                 N|         164|       Midtown South|     Manhattan|         236|Upper East Side N...|      Manhattan|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         3.01|       1.0|                 N|         141|     Lenox Hill West|     Manhattan|         107|            Gramercy|      Manhattan|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+------+---+-----+----+-----+----+----+----+----+-----+---+------------+----------------+----+-------+--------------------+
only showing top 10 rows

In [81]:
data.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- pickup_date: date (nullable = true)
 |-- dropoff_date: date (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- pickup_borough: string (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- dropoff_zone: string (nullable = true)
 |-- dropoff_borough: string (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- temp: double (nullable = true)
 |-- dewp: double (nullable = true)
 |-- slp: double (nullable = true)
 |-- stp: double (nullable = true)
 |-- visib: double (nullable = true)
 |-- wdsp: string (nullable = true)
 |-- mxpsd: string (nullable = true)
 |-- gust: double (nullable = true)
 |-- max: double (nullable = true)
 |-- min: double (nullable = true)
 |-- prcp: double (nullable = true)
 |-- sndp: double (nullable = true)
 |-- fog: string (nullable = true)
 |-- rain_drizzle: string (nullable = true)
 |-- snow_ice_pellets: string (nullable = true)
 |-- hail: string (nullable = true)
 |-- thunder: string (nullable = true)
 |-- tornado_funnel_cloud: string (nullable = true)

In [82]:
print("The shape of the dataset is as follows:", (data.count(), len(data.columns)))

The shape of the dataset is as follows: (5871100, 41)

<H1>**DATA CLEANING**</H1>

In [83]:
#begin by checking for null values
from pyspark.sql import functions as fn
data.select([fn.count(fn.when(fn.isnull(col), col)).alias(col) for col in data.columns]).show()

+--------+-----------+------------+---------------+-------------+----------+------------------+------------+-----------+--------------+------------+------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+---+---+-----+----+-----+----+---+---+----+----+---+------------+----------------+----+-------+--------------------+
|VendorID|pickup_date|dropoff_date|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|pickup_zone|pickup_borough|DOLocationID|dropoff_zone|dropoff_borough|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|temp|dewp|slp|stp|visib|wdsp|mxpsd|gust|max|min|prcp|sndp|fog|rain_drizzle|snow_ice_pellets|hail|thunder|tornado_funnel_cloud|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+-----------+--------------+------------+------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+---+---+-----+----+-----+----+---+---+----+----+---+------------+----------------+----+-------+--------------------+
|       0|          0|           0|         145995|            0|    145995|            145995|           0|          0|             0|           0|           0|              0|           0|          0|    0|      0|         0|           0|                    0|           0|              145995|     145995|  80|  80| 80| 80|   80|  80|   80|  80| 80| 80|  80|  80| 80|          80|              80|  80|     80|                  80|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+-----------+--------------+------------+------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+---+---+-----+----+-----+----+---+---+----+----+---+------------+----------------+----+-------+--------------------+

In [84]:
#drop the rows where columns have null values
data = data.dropna()

In [85]:
data.select([fn.count(fn.when(fn.isnull(col), col)).alias(col) for col in data.columns]).show()

+--------+-----------+------------+---------------+-------------+----------+------------------+------------+-----------+--------------+------------+------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+---+---+-----+----+-----+----+---+---+----+----+---+------------+----------------+----+-------+--------------------+
|VendorID|pickup_date|dropoff_date|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|pickup_zone|pickup_borough|DOLocationID|dropoff_zone|dropoff_borough|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|temp|dewp|slp|stp|visib|wdsp|mxpsd|gust|max|min|prcp|sndp|fog|rain_drizzle|snow_ice_pellets|hail|thunder|tornado_funnel_cloud|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+-----------+--------------+------------+------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+---+---+-----+----+-----+----+---+---+----+----+---+------------+----------------+----+-------+--------------------+
|       0|          0|           0|              0|            0|         0|                 0|           0|          0|             0|           0|           0|              0|           0|          0|    0|      0|         0|           0|                    0|           0|                   0|          0|   0|   0|  0|  0|    0|   0|    0|   0|  0|  0|   0|   0|  0|           0|               0|   0|      0|                   0|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+-----------+--------------+------------+------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+---+---+-----+----+-----+----+---+---+----+----+---+------------+----------------+----+-------+--------------------+

In [86]:
print("The shape of the dataset is as follows:", (data.count(), len(data.columns)))

The shape of the dataset is as follows: (5725025, 41)

In [87]:
data.describe().show()
#looking at the below result, we see that there are numerous erroneous values.
#Some of them are:
#passenger_count: for taxi's we will consider only 5 seater.
#trip_distance: Let us limit trip distance as within 1 and 100
#total_amount: We will remove the negative values and limit amount to within 1000$

+-------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------+------------------+--------------------+---------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-------------------+-----------------+-------------------+-------------------+-------------------+-------+-------+--------------------+
|summary|          VendorID|   passenger_count|    trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|         pickup_zone|pickup_borough|      DOLocationID|        dropoff_zone|dropoff_borough|       payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        airport_fee|             temp|              dewp|               slp|               stp|             visib|              wdsp|             mxpsd|             gust|              max|               min|               prcp|             sndp|                fog|       rain_drizzle|   snow_ice_pellets|   hail|thunder|tornado_funnel_cloud|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------+------------------+--------------------+---------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-------------------+-----------------+-------------------+-------------------+-------------------+-------+-------+--------------------+
|  count|           5725025|           5725025|          5725025|           5725025|           5725025|           5725025|             5725025|       5725025|           5725025|             5725025|        5725025|            5725025|           5725025|           5725025|            5725025|           5725025|           5725025|              5725025|           5725025|             5725025|            5725025|          5725025|           5725025|           5725025|           5725025|           5725025|           5725025|           5725025|          5725025|          5725025|           5725025|            5725025|          5725025|            5725025|            5725025|            5725025|5725025|5725025|             5725025|
|   mean| 1.729533932166235|1.3579364282252042|3.292091421434622|1.5018481142003746|              NULL|165.14416251457416|                NULL|          NULL|163.26143152213308|                NULL|           NULL| 1.2180540696328837|17.878724681552438|1.5798974607097822|0.48868916729621686|3.3287485818847253|0.4866203553713277|   0.9818155029890596|26.488785093457093|  2.2925188536294603|0.09809891659861747|42.08716646676929|27.422518329803985|1016.0705553488908|114.46021468819201| 9.124176523329702| 5.147573783574947|10.748000209528529|253.6975422798947|51.37257439017095|34.523534219977655|0.11307153593241831|999.9000000532776|0.06914677228483719| 0.4275906218750136|0.10787708350618556|    0.0|    0.0|                 0.0|
| stddev|0.4442006398571668|0.8937176455353484|30.06785990849458| 6.597855175318768|              NULL| 63.41983331172626|                NULL|          NULL| 69.37100396340615|                NULL|           NULL|0.49919760080266795|   16.426230728651|1.7895003102856244|0.10102351799552729| 3.702051543347937|1.9248216482389942|   0.1855760278064222| 20.75119860087575|  0.7488209992765367| 0.3410333526937533|8.243559553059614|11.552425208075517| 7.186077743128639| 300.3155285719604|1.3314135269812666|1.6347638384586942| 2.721013873242176|416.8347650761054|7.896465917285464| 7.724770683447727|0.23507496749487072|              0.0|0.25370358178445024|0.49472914277578484|0.31022513626515114|    0.0|    0.0|                 0.0|
|    min|                 1|               0.0|              0.0|               1.0|                 N|                 1|Allerton/Pelham G...|         Bronx|                 1|Allerton/Pelham G...|          Bronx|                  1|            -900.0|              -7.5|               -0.5|             -93.0|             -65.0|                 -1.0|           -757.55|                -2.5|              -1.25|             12.2|             -10.8|            1002.3|               0.3|               3.5|               2.5|              11.1|             14.0|             35.1|               3.0|                0.0|            999.9|                  0|                  0|                  0|      0|      0|                   0|
|    max|                 2|               9.0|         62359.52|              99.0|                 Y|               263|      Yorkville West| Staten Island|               263|      Yorkville West|  Staten Island|                  4|             999.0|             13.75|              53.16|             482.9|             109.9|                  1.0|            1000.0|                2.75|               1.25|             61.4|              52.8|            1032.6|             999.2|              10.0|               9.4|               9.9|            999.9|             70.0|              50.0|               1.34|            999.9|                  1|                  1|                  1|      0|      0|                   0|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------+------------------+--------------------+---------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-------------------+-----------------+-------------------+-------------------+-------------------+-------+-------+--------------------+

In [91]:
def filter_dataset():
  filtered_data = data.filter((data['passenger_count'] <= 5) & (data['passenger_count'] > 0))
  filtered_data = filtered_data.filter((data['trip_distance'] >= 1) & (data['trip_distance'] <= 100))
  filtered_data = filtered_data.filter((data['total_amount'] > 3) & (data['total_amount'] <= 200))
  filtered_data.show()
  return filtered_data

#Considering a mid-size SUV/SUV as being the limit, the number of passengers in a car are less than 5
#Also, trip_distance is greater than 0 but less than 100, keeping in mind nyc limits
#the total amount is greater than 3 since base fare in nyc is 3 for yellow cabs and less than 200.

In [93]:
data = filter_dataset()

+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+------+---+-----+----+-----+----+----+----+----+-----+---+------------+----------------+----+-------+--------------------+
|VendorID|pickup_date|dropoff_date|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|         pickup_zone|pickup_borough|DOLocationID|        dropoff_zone|dropoff_borough|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|temp|dewp|   slp|stp|visib|wdsp|mxpsd|gust| max| min|prcp| sndp|fog|rain_drizzle|snow_ice_pellets|hail|thunder|tornado_funnel_cloud|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+------+---+-----+----+-----+----+----+----+----+-----+---+------------+----------------+----+-------+--------------------+
|       2| 2023-01-01|  2023-01-01|            1.0|          1.1|       1.0|                 N|          43|        Central Park|     Manhattan|         237|Upper East Side S...|      Manhattan|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.51|       1.0|                 N|          48|        Clinton East|     Manhattan|         238|Upper West Side N...|      Manhattan|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.43|       1.0|                 N|         107|            Gramercy|     Manhattan|          79|        East Village|      Manhattan|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.84|       1.0|                 N|         161|      Midtown Center|     Manhattan|         137|            Kips Bay|      Manhattan|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.66|       1.0|                 N|         239|Upper West Side S...|     Manhattan|         143| Lincoln Square West|      Manhattan|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         11.7|       1.0|                 N|         142| Lincoln Square East|     Manhattan|         200|Riverdale/North R...|          Bronx|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.95|       1.0|                 N|         164|       Midtown South|     Manhattan|         236|Upper East Side N...|      Manhattan|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         3.01|       1.0|                 N|         141|     Lenox Hill West|     Manhattan|         107|            Gramercy|      Manhattan|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|          1.8|       1.0|                 N|         234|            Union Sq|     Manhattan|          68|        East Chelsea|      Manhattan|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         3.23|       1.0|                 N|         164|       Midtown South|     Manhattan|         143| Lincoln Square West|      Manhattan|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            2.0|        11.43|       1.0|                 N|         138|   LaGuardia Airport|        Queens|          33|    Brooklyn Heights|       Brooklyn|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.95|       1.0|                 N|          33|    Brooklyn Heights|      Brooklyn|          61| Crown Heights North|       Brooklyn|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         1.52|       1.0|                 N|          79|        East Village|     Manhattan|         186|Penn Station/Madi...|      Manhattan|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       2| 2023-01-01|  2023-01-01|            1.0|         2.23|       1.0|                 N|          90|            Flatiron|     Manhattan|          48|        Clinton East|      Manhattan|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       1| 2023-01-01|  2023-01-01|            1.0|          4.5|       1.0|                 N|         113|Greenwich Village...|     Manhattan|         255|Williamsburg (Nor...|       Brooklyn|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       1| 2023-01-01|  2023-01-01|            3.0|          1.2|       1.0|                 N|         237|Upper East Side S...|     Manhattan|         239|Upper West Side S...|      Manhattan|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       1| 2023-01-01|  2023-01-01|            2.0|          2.5|       1.0|                 N|         143| Lincoln Square West|     Manhattan|         229|Sutton Place/Turt...|      Manhattan|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       1| 2023-01-01|  2023-01-01|            1.0|          1.4|       1.0|                 N|         137|            Kips Bay|     Manhattan|          79|        East Village|      Manhattan|           1|        9.3|  3.5|    0.5|      2.85|         0.0|                  1.0|       17.15|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       1| 2023-01-01|  2023-01-01|            1.0|         17.8|       2.0|                 N|         132|         JFK Airport|        Queens|         116|    Hamilton Heights|      Manhattan|           1|       70.0| 1.25|    0.5|     15.85|        6.55|                  1.0|       95.15|                 0.0|       1.25|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
|       1| 2023-01-01|  2023-01-01|            2.0|          1.7|       1.0|                 N|         161|      Midtown Center|     Manhattan|         164|       Midtown South|      Manhattan|           4|       11.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        16.4|                 2.5|        0.0|52.4|43.7|1011.6|5.8|  8.1| 4.8|  8.9|15.0|55.0|50.0|0.28|999.9|  0|           1|               0|   0|      0|                   0|
+--------+-----------+------------+---------------+-------------+----------+------------------+------------+--------------------+--------------+------------+--------------------+---------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+----+------+---+-----+----+-----+----+----+----+----+-----+---+------------+----------------+----+-------+--------------------+
only showing top 20 rows

In [94]:
data.describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------+------------------+--------------------+---------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-------------------+-----------------+-------------------+------------------+-------------------+-------+-------+--------------------+
|summary|          VendorID|   passenger_count|    trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|         pickup_zone|pickup_borough|      DOLocationID|        dropoff_zone|dropoff_borough|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        airport_fee|              temp|              dewp|               slp|               stp|            visib|              wdsp|             mxpsd|             gust|              max|              min|               prcp|             sndp|                fog|      rain_drizzle|   snow_ice_pellets|   hail|thunder|tornado_funnel_cloud|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------+------------------+--------------------+---------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-------------------+-----------------+-------------------+------------------+-------------------+-------+-------+--------------------+
|  count|           4321705|           4321705|          4321705|           4321705|           4321705|           4321705|             4321705|       4321705|           4321705|             4321705|        4321705|           4321705|           4321705|           4321705|            4321705|           4321705|           4321705|              4321705|           4321705|             4321705|            4321705|           4321705|           4321705|           4321705|           4321705|          4321705|           4321705|           4321705|          4321705|          4321705|          4321705|            4321705|          4321705|            4321705|           4321705|            4321705|4321705|4321705|             4321705|
|   mean|1.7390863096856448|1.3425238418633387|4.002270390965813|1.5222977968186167|              NULL|163.48829061678202|                NULL|          NULL|161.23559289678494|                NULL|           NULL|1.1812407371627633|20.989206098057835|1.6459606382203331|0.49801410785789774| 3.803935872532619|0.6195010325806971|   0.9990823529139902|30.374949669115274|  2.3237571166935274|0.12627076582043428|42.129956093547364| 27.45033673042765|1016.0800322036141|113.82145528282106|  9.1306118766133| 5.140029895614657|10.732162306213201|254.9070279425343|51.39203693850477|34.55880753076942|0.11212090135729612|999.9000000396104|0.06833761212299312|0.4250225316165726|0.10614514410400525|    0.0|    0.0|                 0.0|
| stddev| 0.439132987990722|0.7655606037472913|4.467985554772488|6.7524006670466425|              NULL|63.015451143675826|                NULL|          NULL|  70.4142244436293|                NULL|           NULL|0.4259476335947206|16.339975028069205|1.8408100806046637|0.04112648363663247|3.8768094527557007|2.1121430584171805| 0.025443827224962277| 20.89350942527106|  0.6399599991978122|0.37668844395279716| 8.215269332589832|11.510792063878023|7.1733180656709035|299.47791243608407|1.326532076265496|1.6317454833644838|2.7095705126374288|417.5990023761885|7.877338536423718|7.695671405291801|0.23404693125789391|              0.0|0.25232438967404425|0.4943464734187684| 0.3080233342476928|    0.0|    0.0|                 0.0|
|    min|                 1|               1.0|              1.0|               1.0|                 N|                 1|Allerton/Pelham G...|         Bronx|                 1|Allerton/Pelham G...|          Bronx|                 1|              -7.9|              -2.5|               -0.5|               0.0|               0.0|                 -1.0|               3.3|                -2.5|                0.0|              12.2|             -10.8|            1002.3|               0.3|              3.5|               2.5|              11.1|             14.0|             35.1|              3.0|                0.0|            999.9|                  0|                 0|                  0|      0|      0|                   0|
|    max|                 2|               5.0|             63.3|              99.0|                 Y|               263|      Yorkville West| Staten Island|               263|      Yorkville West|  Staten Island|                 4|            191.01|             13.75|              53.16|            123.77|            102.75|                  1.0|             200.0|                2.75|               1.25|              61.4|              52.8|            1032.6|             999.2|             10.0|               9.4|               9.9|            999.9|             70.0|             50.0|               1.34|            999.9|                  1|                 1|                  1|      0|      0|                   0|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+--------------+------------------+--------------------+---------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-------------------+-----------------+-------------------+------------------+-------------------+-------+-------+--------------------+